@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Lora:wght@600&family=Merriweather:wght@300&family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
body img {
  width: 100%;
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  background-attachment: fixed;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: black;
  color: white;
}
body h1 {
  font-size: 50px;
}
body button {
  border-radius: 15px;
  height: 50px;
  width: 180px;
  background-color: black;
  color: white;
  border-style: none;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 10vh;
}
.nav ul li h3 {
  color: orange;
}
.nav button {
  border-radius: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90px;
  background-color: black;
  color: white;
  border-style: none;
}
.nav button:hover {
  background-color: rgb(51, 51, 51);
  color: yellow;
}

.companydetails ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-left: 60px;
}
.logo {
  width: 60px;
  height: 30px;
}
.signup ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-right: 50px;
}
.firstsection {
  width: 100%;
  background-image: url("images/bg.jpeg");
  background-size: cover;
  height: 120vh;
}
.center {
  background-image: url("images/sec1img.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 auto;
  margin-top: 60px;
  width: 550px;
  height: 480px;
}
.centericons {
  height: 50px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(238, 124, 30);
}
.centericons .icon .material-symbols-outlined:hover {
  color: rgb(239, 235, 4);
}
.centercontent {
  line-height: 60px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 40px;
}
body button:hover {
  background-color: rgb(57, 56, 56);
}
.secondsection {
  margin: 20px;
}
.secondsection .cards {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  justify-content: center;
  padding: 30px 50px;
  gap: 30px;
}
.secondsection .detail {
  text-align: left;
}

.thirdsection {
  display: flex;
  flex-direction: column;
  background-image: url("images/bg1.jpg");
  background-size: cover;
  padding: 40px 60px;
  line-height: 60px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  line-height: 80px;
  background-image: url("https://images.unsplash.com/photo-1614091199036-e934784dbf0f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dWJlciUyMGRyaXZlcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
  background-size: cover;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZHJpdmluZ3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
  background-size: cover;
  padding: 20px 30px;
}
.form .heading {
  color: white;
}
.form .signin {
  line-height: 30px;
}
.form .signin h2 {
  margin-bottom: 20px;
}
.form .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form button {
  width: 300px;
  background-color: brown;
}
.form input {
  width: 230px;
  padding: 9px;
  font-size: 15px;
  border-style: none;
}
.form select {
  padding: 9px;
  font-size: 15px;
}

.form .input {
  margin-bottom: 12px;
}

.footer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  justify-content: center;
  gap: 10px;
  padding: 30px 80px;
  background-color: rgb(0, 0, 0);
  line-height: 35px;
  color: white;
}
.footer h4 {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}
.footer ul li:hover {
  color: orange;
}

.copyright {
  margin: 20px 90px 20px 30px;
  font-size: 14px;
  color: rgb(136, 136, 136);
}
